<div class = "col-md-5 col-lg-5 mt-5">
  <%= link_to "Revenir à l'accueil", root_path, class: 'btn btn-info btn-sm', style: 'margin-right: 10px' %>
</div>
<div class="row">
  <div class = "col-md-10 col-lg-6 d-flex flex-column mt-1">
    <% if user_signed_in? && current_user.id == @user.id %>
      <%= image_tag("https://comhelp.s3.eu-west-3.amazonaws.com/comhelp/Page+profile/page+profile.jpg") %>
      <div class = "col-md-5 col-lg-5 d-flex flex-column mt-1">
        <%= link_to "Créer une nouvelle annonce", new_post_path,  :class => "btn btn-outline-primary text-center pull-right" %>
      </div>
    <%else%>
      <%= image_tag("https://comhelp.s3.eu-west-3.amazonaws.com/comhelp/Page+profile/page+profile+visiteur.jpg") %>
    <% end %>
  </div>
    <div class="col-md-4">
      <% if user_signed_in? && current_user.id == @user.id %>
        <div class="card border">
          <div class="card-body">
            <h2 class="text-primary mt-3"><b>Mon profile :</b></h2>
              <hr>
                <p class="text-dark mt-3"><b>Prénom</b> : <%= @user.first_name %></p>
                <p class="text-dark mt-3"><b>Nom</b> : <%= @user.last_name %></p>
                <p class="text-dark mt-3"><b>E-mail</b> : <%= @user.email %></p>
                <p class="text-dark mt-3"><b>Nombre d'avis favorables / défavorables</b></p> 
                <span>
                  <button type="button" class="like btn btn-outline-primary no-click">
                    <i class="far fa-thumbs-up" aria-hidden="true"></i>
                    <span class="badge"><%= @user.get_upvotes.size %></span>
                  </button>
                </span>
                <span>
                  <button type="button" class="like btn btn-outline-danger no-click">
                    <i class="far fa-thumbs-down" aria-hidden="true"></i>
                    <span class="badge"><%= @user.get_downvotes.size %></span>
                  </button>
                </span>
                <hr>
                  <p class="profile-pad">Je souhaite modifier mes données personnelles ou mon mot de passe ?</p>
                       <%= link_to "C'est par ici !", edit_user_registration_path(@user.id), class: 'btn btn-primary profile-btn' %>
                    <hr>
                      <p class="profile-pad">Accéder à votre messagerie en cliquant juste ici :</p>
                      <p><%= link_to "Ma messagerie", conversations_index_path, :class => "btn btn-info"  %></p>
              </div>
          </div>
          <% else %>
          <div class="card border">
            <div class="card-body">
              <h2 class ="text-primary mt-3"><b>Vous êtes sur le profile de <%= @user.first_name %> :</b></h2>
              <hr>
                <p class="text-dark mt-3"><b>Prénom</b> : <%= @user.first_name %></p>
                <p class="text-dark mt-3"><b>Nom</b> : <%= @user.last_name %></p>
                  <% if user_signed_in? && user_is_allowed_to_vote? && ! current_user.find_voted_items.include?(@user) %>
                      <%= link_to like_user_path(@user), method: :put, remote: true do %>
                        <span>
                          <button type="button" class="like btn btn-primary">
                            <i class="far fa-thumbs-up" aria-hidden="true"></i>
                          <span class="badge"><%= @user.get_upvotes.size %></span>
                          </button>
                        </span>
                      <% end %>
                     <%= link_to unlike_user_path(@user), method: :put, remote: true do %>
                        <span>
                          <button type="button" class="dislike btn btn-danger">
                            <i class="far fa-thumbs-down" aria-hidden="true"></i>
                          <span class="badge"><%= @user.get_downvotes.size %></span>
                          </button>
                        </span>
                     <% end %>
                    <h6><b>Veuillez noter cet utilisateur en cliquant sur l'une des deux icônes.</b></h6>                 
                    <% else %>
                     <div class="text-dark mt-3"><b>Nombre d'avis favorables / défavorables</b>
                        <span>
                          <button type="button" class="like btn btn-outline-primary no-click">
                            <i class="far fa-thumbs-up" aria-hidden="true"></i>
                            <span class="badge"><%= @user.get_upvotes.size %></span>
                          </button>
                        </span>
                        <span>
                          <button type="button" class="dislike btn btn-outline-danger no-click">
                            <i class="far fa-thumbs-down" aria-hidden="true"></i>
                            <span class="badge"><%= @user.get_downvotes.size %></span>
                          </button>
                        </span>
                      </div>
                      <p><small> * Vous ne pouvez attribuer un vote à un utilisateur que s'il répondu à une de vos annonces ou posté une annonce à laquelle vous avez répondu.</small></p>
                      <P><small> * Vous ne pouvez pas voter deux fois.</small></p>

                    <% end %>
                  </ul>
              <hr>
              <h6 class="profile-pad">Vous souhaitez envoyer un message privé à <%= @user.first_name %> ?</h6>
              <%= link_to "Envoyer un message",  conversations_path(sender_id: current_user.id,  receiver_id: @user), method: 'post', class: 'btn btn-primary profile-btn' %>
            </div>
          </div>
      <% end %>
        <hr>
    
      <% if user_signed_in? && current_user.id == @user.id %>
        <p><b>Mes annonces :</b></p>
            <ul>
              <% @user.created_posts.each do |post| %>
                <li><%= link_to "#{post.title}", post_path(post.id) %>, le <%= post.datetime %> 
                  <% if post.is_validated != true %>
                    <span class= "font-italic text-uppercase text-danger"> Votre annonce est en cours de validation </span>
                    
                  <% end %>
                </li>
              <% end %>
            </ul>
      <% else %>
          <% if @user.created_posts.count != 0 %>
            <p><b>Annonces postées par <%= @user.first_name %> :</b></p>

            <ul>
              <% @user.created_posts.each do |post| %>
              
                <li><%= link_to "#{post.title}", post_path(post.id) %>, le <%= post.datetime %> </li>
                
             <% end %>
            </ul>
          <% else %>
            <p class="lead-color"><b><%= @user.first_name %> n'a encore posté aucune annonce.</b><p>
          <% end %>
        <br>
      <% end %>
              <% if user_signed_in? && current_user.id == @user.id %>
                <p><b>Les annonces auxquelles j'ai répondu :</b></p>
                  <ul>
                    <% @user.answered_posts.each do |post| %>
                      <li><%= link_to "#{post.title}", post_path(post.id) %>, le <%= post.datetime %>, annonce postée par <%= post.user.first_name %> </li>
                    <% end %>
                  </ul>
              <% else %>
                <% if @user.answered_posts.count != 0 %>
                  <p><b>Les annonces auxquelles <%= @user.first_name %> a répondu :</b><p>
                  <ul>
                    <% @user.answered_posts.each do |post| %>
                      <li><%= link_to "#{post.title}", post_path(post.id) %>, le <%= post.datetime %>, annonce postée par <%= post.user.first_name %> </li>
                    <% end %>
                  </ul>
                <% else %>
            <p><b><%= @user.first_name %> n'a encore répondu à aucune annonce.</b><p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
  