<h1>Page de modification/suppression de l'annonce <%=@post.id%></h1>
	<br>
	<br>
		<h4>Vous pouvez modifier un ou plusieurs champs :</h4>
	<br>
<p>Cette annonce a été créée par <%=link_to "#{@post.user.first_name} #{@post.user.last_name}", edit_admin_user_path(@post.user.id) %></p>
	<%= form_for ([:admin, @post]), url: admin_post_path(@post.id), :method => :patch do |f| %>
  	Titre: <%= f.text_field :title %><br />
  	Description : <%= f.text_field :description %><br />
  	Numéro de catégorie : <%= f.text_field :category_id %><br />
	<%= f.submit 'Valider' %>
	<% end %>
	<br>
	<br>
	<div class="card" style="width: 25rem;">
  		<div class="card-body">
			<h3>Attention, il sera impossible de revenir en arrière :</h3>
			<br>
			<h5><%= link_to "Supprimer", admin_post_path(@post.id), method: :delete %> cette annonce de la base de données.</h5>
  		</div>
	</div>
	<br>
	<br>
<p><%= link_to "Revenir", admin_posts_path %> à l'index des annonces.</p>

