<body>
	<div class="innerpage-banner left bg-overlay-dark-7 py-7 mb-5" style="background:url(https://images.pexels.com/photos/5483064/pexels-photo-5483064.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat; background-size:cover; background-position: center center;">
		<div class="container">
			<div class="row all-text-white">
				<div class="col-md-12 align-self-center">
					<h1 class="innerpage-title lead-color">A propos</h1>
					<h5 class="subtitle" >Découvrez les individus à l'origine du projet <b class="lead-color">ComHelp</b></h5>
					<button class = "btn btn-primary"><%= link_to root_path do %> Accueil<% end %></button>
					
				</div>
			</div>
		</div>
	</div>		
	<section class="team team-grid pt-0">
		<div class="container">
			<div class="row mb-5 text-center">
				<div class="col-md-12">
					<h1 class="lead-color"><b>Notre équipe</b></h1>
				</div>
			</div>
			<hr>
			<div class="row">
				<!-- Team item -->
				<div class="col-sm-6">
					<div class="team-item">
						<div class="team-avatar">
							<%= image_tag "https://team-pictures-thp2020.s3.eu-west-3.amazonaws.com/08.jpg", class: 'rounded' %>
						</div>
						<div class="team-desc">
							<h4 class="team-name">Samira Adidaoui</h4>
							<span class="team-position lead-color">Chef de projet</span>
							<p>Reconnue pour ses talents de gestion des équipes, c'est tout naturellement que <b class="lead-color">Samira</b> a pris les rênes du projet pour le conduire à bon port. </p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="team-item">
						<div class="team-avatar">
							<%= image_tag "https://team-pictures-thp2020.s3.eu-west-3.amazonaws.com/03.jpg", class: 'rounded' %>
						</div>
						<div class="team-desc">
							<h4 class="team-name">Marine Kouadio</h4>
							<span class="team-position lead-color">CTO</span>
							<p>Intéressée par le monde du développement, <b class="lead-color">Marine</b> a structuré le projet en occupant le rôle de CTO. </p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="team-item">
						<div class="team-avatar">
							<%= image_tag "https://team-pictures-thp2020.s3.eu-west-3.amazonaws.com/02.jpg", class: 'rounded' %>
						</div>
						<div class="team-desc">
							<h4 class="team-name">Guillaume Redon</h4>
							<span class="team-position lead-color">Référent technique et bonnes pratiques</span>
							<p>Sa minutie et sa connaissance des normes ont poussé <b class="lead-color">Guillaume</b> à briguer le poste de référent technique et bonnes pratiques. </p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="team-item">
						<div class="team-avatar">
							<%= image_tag "https://team-pictures-thp2020.s3.eu-west-3.amazonaws.com/05.jpg", class: 'rounded' %>
						</div>
						<div class="team-desc">
							<h4 class="team-name">Alex Balomog</h4>
							<span class="team-position lead-color">Développeur front-end</span>
							<p> Un oeil visionnaire, un sens du design aigu, telles sont les qualités qui ont fait d'<b class="lead-color">Alex</b> notre développeur front-end attitré. </p>						
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="team-item">
						<div class="team-avatar">
							<%= image_tag "https://team-pictures-thp2020.s3.eu-west-3.amazonaws.com/07.jpg", class: 'rounded' %>
						</div>
						<div class="team-desc">
							<h4 class="team-name">Brice Arby</h4>
							<span class="team-position lead-color">Développeur back-end</span>
							<p>Ses prédispositions à vouloir regarder sous le capot et mettre les mains dans le cambouis ont permis à <b class="lead-color">Brice</b> de devenir un développeur back-end accompli.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- row end -->
		</div>
	</section>
</body>

