<div class="container-fluid p-0">
    <footer class="footer bg-light" >
        
        <!--footer copyright -->
        <div class="footer-copyright pb-3 " >
            <div class="container" >
                <div class="d-md-flex justify-content-between align-items-center py-3 text-center text-md-left" >
                    <!-- copyright text -->
                    <div class="copyright-text" >©2020 All Rights Reserved by  <%= link_to "TeamComHelp", team_index_path %> </div>
                    <!-- copyright links-->
                    <div class="copyright-links d-inline-flex primary-hover mt-3 mt-md-0 ">
                        <ul class="list-group justify-content-around list-group-horizontal-md list-unstyled" >

                            <li ><%= link_to "Accueil", root_path, :class=>"list-inline-item px-3" %></li>
                            <li ><%= link_to "Contact", "#", :class=>"list-inline-item px-3" %></li>
                            <li ><%= link_to "À propos",team_index_path, :class=>"list-inline-item px-3" %></li>
                            
                            
                            <li><%= link_to "Politique de confidentialité",privacy_index_path, :class=> "list-inline-item px-3"%></li>
                            <li><%= link_to "CGU", cgu_index_path,:class=> "list-inline-item px-3"%></li>
                            <li class= "pl-5">Suivez-nous sur :</li>
                            <li><%= link_to "https://www.instagram.com/?hl=fr/", :class=>"list-inline-item px-2" do %>
                                <i class="fab fa-instagram"></i>
                            <% end %></li>
                            <li ><%= link_to "https://www.facebook.com/", :class=>"list-inline-item px-2" do %>
                                <i class="fab fa-facebook"></i>
                            <% end %></li>
                            <li ><%= link_to "https://twitter.com/SAdidaoui", :class=>"list-inline-item px-2" do %>
                                <i class="fab fa-twitter"></i>
                            <% end %></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
